atomicwrites==1.4.1
attrs==22.1.0
certifi==2022.6.15
charset-normalizer==2.0.12
colorama==0.4.5
idna==3.3
importlib-metadata==4.8.3
iniconfig==1.1.1
packaging==21.3
peewee==3.15.1
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.7
pyTelegramBotAPI==4.6.1
pytest==7.0.1
requests==2.27.1
six==1.16.0
tomli==1.2.3
typing_extensions==4.1.1
urllib3==1.26.11
vk-api==11.9.9
zipp==3.6.0
